/* styles/globals.css */

body {
    background-color: #eef2f6; /* Your desired background color */
    margin: 0; /* Remove default margin */
    font-family: 'Montserrat', sans-serif; /* Set your font family */
  }
  